/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1c0027;
}

.content {
  img {
    width: 80%;
  }

  h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 70px;
    color: white;
  }
}
